<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Weather</title>
</head>
<body>
	<div class="container">
		<h1>Weather of City: </h1>
		<P>{{city}}</P>
		<img src="{{url}}" alt="image">
		<div class="weather">
			<h2>The temperature is: {{temp}}℃ </h2>
			<h2>The Sunrise is: {{sunrise}} AM</h2>
			<h2>The Sunset is: {{sunset}} PM</h2>
			<h2>The Wind Speed is: {{windSpeed}}</h2>
			<h2>The Pressure is: {{pressure}}</h2>
		</div>
	</div>
</body>
</html>